blog-dataflowmapplet-adfv2/PartialArmTemplates/ArmTemplate_4_24_2020_13_35_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blog-dataflowmapplet-adfv2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IteratorPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.iterator",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "ParentPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ParentPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"iterator": {
						"type": "string",
						"defaultValue": [
							0,
							1,
							2,
							3,
							4,
							5,
							6,
							7,
							8,
							9,
							10,
							11,
							12,
							13,
							14,
							15,
							16,
							17,
							18,
							19,
							20,
							21,
							22,
							23,
							24,
							25,
							26,
							27,
							28,
							29,
							30,
							31,
							32,
							33,
							34,
							35,
							36,
							37,
							38,
							39,
							40,
							41,
							42,
							43,
							44,
							45,
							46,
							47,
							48,
							49
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ParentPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParentPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.table_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "TableToParquet",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ', item().table)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SourceSqlTable",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "StagingBlobFilenameParquet",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(item().table, pipeline().RunId, 'lookup.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DFAddColumn",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "TableToParquet",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DataFlowsAddColumn",
											"type": "DataFlowReference",
											"parameters": {
												"in_filename": {
													"value": "'@{concat(item().table, pipeline().RunId, 'lookup.parquet')}'",
													"type": "Expression"
												},
												"out_filename": {
													"value": "'@{concat(item().table, pipeline().RunId, 'addcolumn.parquet')}'",
													"type": "Expression"
												},
												"in_extraColumn": {
													"value": "'@{concat(item().table, 'newcolumn')}'",
													"type": "Expression"
												}
											}
										},
										"integrationRuntime": {
											"referenceName": "128coreTTL30",
											"type": "IntegrationRuntimeReference"
										}
									}
								},
								{
									"name": "DFRemoveDuplicate",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "DFAddColumn",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DataFlowsRemoveDuplicateColumn",
											"type": "DataFlowReference",
											"parameters": {
												"in_filename": {
													"value": "'@{concat(item().table, pipeline().RunId, 'addcolumn.parquet')}'",
													"type": "Expression"
												},
												"out_filename": {
													"value": "'@{concat(item().table, pipeline().RunId, 'removeduplicate.parquet')}'",
													"type": "Expression"
												}
											}
										},
										"integrationRuntime": {
											"referenceName": "128coreTTL30",
											"type": "IntegrationRuntimeReference"
										}
									}
								},
								{
									"name": "ParquetToJSON",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DFRemoveDuplicate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "StagingBlobFilenameParquet",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@concat(item().table, pipeline().RunId, 'removeduplicate.parquet')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkBlobJSONFilename",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@concat(item().table, pipeline().RunId, 'final.json')"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"table_items": {
						"type": "string",
						"defaultValue": [
							{
								"table": "SalesLTProduct"
							},
							{
								"table": "SalesLTCustomer"
							},
							{
								"table": "SalesLTSalesOrderDetail"
							},
							{
								"table": "SalesLTSalesOrderHeader"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SinkBlobJSONFilename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkBlobJSONFilename')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageAccountLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": "sink"
					}
				}
			},
			"dependsOn": []
		}
	]
}